{
    "presets": [
        [
            "@babel/preset-env", 
                {
                    "targets": {
                        "node": "current"
                    },
                    "modules": "cjs"
                } 
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@loadable/babel-plugin",
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
    ]
}
