Card(style='width: 18rem;')
    Card.Body
        Card.Title Login
        Card.Subtitle(className='mb-2 text-muted')
        Card.Text
            Form
                input(type='text' placeholder="username")
                input(type="email", placeholder="email")
                input(type='password' placeholder='password')
        Card.Link 
            button Sign in
        Card.Link
            link(to='signup') Don't have an account
