@import url(https://fonts.googleapis.com/css?family=Numito|Grenze+Gotisch|Pacifico|Piedra|Baloo+2|NerkoOne+Regular|Poppins|Bershire+Swash)
$font-title: Poppins
$font-text: Poppins
$font-header: NerkoOne
$font-brand: 'Berkshire Swash'
$font-card: 'Baloo 2'
$font-jumbo: Pacifico

body
  position: relative
  background-color: #000
  background-image: url('../img/background_dark_leether_canvas.png')
  display: block
  height: 100vh
  width: 100%
  hr
    color: white
  h1
    padding-left: 10px
    font-family: $font-title
    font-weight: 800

#root
  width: 100%
  height: calc(100% - 2.1rem)
  color: #FFF
  display: grid
  grid-template-rows: 250px auto 1.5rem

header 
  width: 100%
  font-family: $font-header
  font-weight: 700
  background-image: url("../img/source_code_maker_HEADER.png")
  background-clip: border-box
  background-repeat: no-repeat
  background-size: 100% 250px
  height: 250px
  #brand
    font-family: $font-brand
    font-size: 150%
    color: rgb(171, 60, 23)

main
  grid-row-start: 2
  grid-row-end: 3
  justify-self: center
  align-self: center

footer
  bottom: 0px
  color: #FFF
  background-color: #000
  hr
    border-bottom: 1px dotted white
  #foot-links
    display: flex
    justify-content: center
    padding-bottom: 5px
    a
      padding: 3px 8px 3px 4px
      background-color: #18804f46
      color: #ffffff
      border-radius: 3px
      margin-bottom: 5px
      span
        width: 30px
        height: 20px
        position: relative
        background-size: contain
        display: inline-block
        background-repeat: no-repeat
        background-position: center center

article
  padding: 5px

#message_contact_form
  label
    display: block

#submit_form_message
   margin-top: 10px

.card-body
  background-color: rgba(33, 33, 33, 0.75)
  font-family: $font-card
  .card-title
    font-weight: 800

#home_article
  position: relative
  font-family: $font-text
  font-weight: 200
  display: block
  margin-left: 2%
  padding: 8px
  width: 350px
  border: 1px solid #172e64
  border-radius: 8px
  box-shadow: 10px 10px 6px rgb(20,20,20)
  //background-color: rgba(75,75,75,0.75)
  background-image: url('../img/background_dark_canvas.png')
  background-size: 150% 150%
  animation: spin 2s linear

@keyframes spin
  20%
    -webkit-transform: rotate(10deg)
    transform: rotate(10deg)

.grid-container
   display: inline-grid
   align-content: space-around
   grid-gap: 20px
   grid-template-areas: "main sidebar"

#info_contacts 
   grid-area: "main"

#message_contact 
   grid-area: "sidebar"

#sign
  width: 28rem
  background-color: rgb(20, 20, 20)
  magin: 20px

#editUser
  width: 28rem
  background-color: rgba(20, 20, 20, 0.55)
  magin: 20px

.modal-content
  background-color: rgba(20,20,20,0.8)
  color: rgb(220,220,220)

#contact
  background-color: rgba(40,40,40,0.3)
  color: white
  .card-body
    .card-title
      border-bottom: 1px solid white

.jumbotron
  background-image: url('../img/background_dark_canvas.png')
  background-size: 150% 150%
  font-family: $font-jumbo
